@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
}



body {
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s ease;
}

pre {
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>button {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
}

.btn {
    visibility: hidden;
    /* display:flex ; */
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    visibility: hidden;
}
.btn02 {
    display: flex;
    align-items: center;
    margin: auto;
    position: static;
    justify-content: center;
    visibility: visible;
    position: absolute;
    left: auto;
    top: 150px;
    background-color: white;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    filter: drop-shadow(10px 10px 10px black);
    padding: 4px;
}

.btn02:active {
    filter: drop-shadow(0px 0px 0px black);
    transform: translateX(4px) translateY(4px);
}
.btn02:hover{
    background-color: black;
    color: white;
}


@media (max-width:481px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 75%;
        flex-direction: column;
        font-size: 25px;
        transition: 0.3s ease all;
    }

    footer {
        display: none;
    }

    p {
        font-size: 15px;
    }

    .btn {
        display: flex;
        align-items: center;
        margin: auto;
        position: static;
        justify-content: center;
        visibility: visible;
        position: relative;
        top: 150px;
        background-color: white;
        color: black;
        font-size: 12px;
        border: 1px solid black;
        filter: drop-shadow(10px 10px 10px black);
        padding: 4px
    }

    .btn:active {
        filter: drop-shadow(0px 0px 0px black);
        transform: translateX(4px) translateY(4px);
    }
    .btn:hover{
        background-color: black;
        color: white;
    }

    span {
        visibility: visible;
        display: inline;
        margin-left: 35px;
    }


}
